{% extends layout.html %}
{% block content %}

<table>

    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Job Title</th>
        <th>IP Address (v4)</th>
    </tr>
    {% for user in user_list %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email_address }}</td>
        <td>{{ user.job_title }}</td>
        <td>{{ user.ip_address }}</td>
    </tr>
    {% end for %}
</table>

{% end block %}
