{% extends layout.html %}
{% block content %}

<table>

    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Job Title</th>
        <th>IP Address (v4)</th>
    </tr>
    {% for user in user_list %}
    <tr>
        <td>{{ id(user) }}</td>
        <td>{{ first_name(user) }}</td>
        <td>{{ last_name(user) }}</td>
        <td>{{ email_address(user) }}</td>
        <td>{{ job_title(user) }}</td>
        <td>{{ ip_address(user) }}</td>
    </tr>
    {% end for %}
</table>

{% end block %}
